head
   title Teachbase
   meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
   //[if lt IE 9]
      = javascript_include_tag :modernizr
   = stylesheet_link_tag    "application", media: "all"
   = stylesheet_link_tag params[:controller], media: "all"
   = csrf_meta_tags
