doctype html
html lang="#{I18n.locale}"
  == render 'layouts/dochead'
  body 
    .main-progress.progressbar-line
    == render 'shared/header'
    .main-wrap  
      .main
        = yield
    == render 'shared/leftbar'
    == render 'shared/overlays'
    .popups-container.is-hidden
      = yield :popup
    == render 'shared/footer'
    / moved js files to the end of the body: common practice
    = javascript_include_tag "application"
    = javascript_include_tag params[:controller]
  / inline JS: moved to the end of stack to prevent it from blocking dom evaluation
    = javascript_tag "window.AUTH_TOKEN = '#{ form_authenticity_token }';"
  / inline css: pure evil! removed from all occurencies